.order-profit-expenses-wrapper {
  text-align: right;
  display: inline-block;
  float: right;
}

.order-profit-expenses-wrapper .form-wrapper {
  display: inline-block;
}

.order-profit-expenses-wrapper .form-wrapper .form-item {
  padding: 0 0 0 20px;
  margin: 0;
}

#order-edit-total-profit,
#order-edit-order-total {
  text-align: right;
  margin-bottom: 15px;
}

#order-edit-order-total {
  font-size: 1.385em;
}

#order-edit-total-profit-label,
#order-edit-order-total-label {
  font-weight: bold;
}

#order-edit-order-total .recalculation-warning {
  font-size: 0.7em;
}

